<div class="navbar-placeholder"></div>
<nav class="navbar" [class.hidden]="isNavbarHidden">
  <div class="logo">
    <div class="logo-text">
      <span style="color: #FFFFFF">T</span>
      <span style="color: #F39C12">U</span>
      <span style="color: #FFFFFF">N</span>
      <span style="color: #FFFFFF">A</span>
      <span style="color: #16A085">N</span>
      <span style="color: #FFFFFF">C</span>
      <span style="color: rgba(218,24,185,0.8)">E</span>
    </div>
    <span class="logo-subtitle">Festival de tunas em Baião</span>
  </div>

  <ul class="nav-links">
    <li>
      <a (click)="goToHome()" >
        Início
      </a>
    </li>
    <li>
      <a (click)="goToAbout()" [class.active]="currentRoute === '/about'">
        Sobre
      </a>
    </li>
    <li>
      <a (click)="goToProgramacao()" [class.active]="currentRoute === '/programacao'">
        Programação
      </a>
    </li>
    <li>
      <a (click)="goToGuia()" [class.active]="currentRoute === '/guia-turistico'">
        Guia
      </a>
    </li>
    <li>
      <a (click)="goToContact()" [class.active]="currentRoute === '/contact'">
        Contactar
      </a>
    </li>
  </ul>
  <div class="social-links">
    <a href="https://www.instagram.com/tunance/" target="_blank" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.facebook.com/tunance" target="_blank" aria-label="Facebook">
      <i class="fab fa-facebook"></i>
    </a>
  </div>
</nav>
