
<footer class="footer">
  <div class="footer-logo-top">
    <img src="assets/icon.jpg" alt="Tunance Logo" class="footer-logo-img">
  </div>
    <div class="footer-social">
      <a href="https://www.instagram.com/tunance/" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://facebook.com/tunance" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="mailto:geral.tunance@gmail.com" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  <section class="footer-partners">

    <!-- ORGANIZAÇÃO -->
    <h3 class="partners-title">Organização</h3>
    <div class="partners-logos">
      <div><img src="assets/logos/aldra.png" class="footer-logo-icon"></div>

    </div>

    <!-- APOIO -->
    <h3 class="partners-title">Apoio</h3>
    <div class="partners-logos">
      <div><img src="assets/logos/Baiao1.png" class="footer-logo-icon"></div>
      <div><img src="assets/logos/ancede-e-ribadouro.jpg" class="footer-logo-icon"></div>
      <div><img src="assets/logos/campelo-ovil.jpg" class="footer-logo-icon"></div>
      <div><img src="assets/logos/smarinhazezere.jpg" class="footer-logo-icon" style="width: 80px; height: 80px; margin-top: 2rem" ></div>
      <div><img src="assets/logos/bvbaião.jpg" class="footer-logo-icon" style="width: 80px; height: 80px; margin-top: 2rem"></div>
      <div><img src="assets/logos/scmb.png" class="footer-logo-icon"></div>
      <div><img src="assets/logos/gove.jpg" class="footer-logo-icon-white"></div>

    </div>

    <!-- PATROCINADORES -->
    <h3 class="partners-title">Patrocinadores</h3>
    <div class="partners-logos">
      <div><img src="assets/logos/restaurante-fonte-nova.jpg" class="footer-logo-icon"></div>
      <div><img src="assets/logos/Residencial-Borges_Logotipo-Cor-1.png" class="footer-logo-icon"></div>
      <div><img src="assets/logos/restaurante_primavera.jpg" class="footer-logo-icon-white"></div>

    </div>

  </section>

  <div class="footer-bottom">
    <p>© 2026 Tunance. Todos os direitos reservados.</p>
  </div>
</footer>
