
<footer class="footer">
  <div class="footer-logo-top">
    <img src="assets/iconroundcropped.png" alt="Tunance Logo" class="footer-logo-img">
  </div>
    <div class="footer-social">
      <a href="https://www.instagram.com/tunance/" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://facebook.com/tunance" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="mailto:geral.tunance@gmail.com" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  <section class="footer-partners">

    <!-- ORGANIZAÇÃO -->
    <h3 class="partners-title">Organização</h3>
    <div class="partners-logos">
      <div><img src="assets/logos/aldra.png" alt="Logo Aldra" class="footer-logo-icon"></div>

    </div>

    <!-- APOIO -->
    <h3 class="partners-title">Apoio</h3>
    <div class="partners-logos">
      <div><img src="assets/logos/Baiao1.png" alt="Logótipo do Município de Baião" class="footer-logo-icon" loading="lazy"></div>
      <div><img src="assets/logos/ancede-e-ribadouro.png" alt="Logótipo da União de Freguesias de Ancede e Ribadouro" class="footer-logo-icon" loading="lazy"></div>
      <div><img src="assets/logos/campelo-ovil.jpg" alt="Logótipo da União de Freguesias de Campelo e Ovil" class="footer-logo-icon" loading="lazy"></div>
      <div><img src="assets/logos/smarinhazezere.jpg" alt="Logótipo da Freguesia de Santa Marinha do Zêzere" class="footer-logo-icon" loading="lazy"></div>
      <div><img src="assets/logos/gove.jpg" alt="Logótipo da Freguesia de Gôve" class="footer-logo-icon-white" loading="lazy"></div>
      <div><img src="assets/logos/bvbaião.jpg" alt="Logótipo dos Bombeiros Voluntários de Baião" class="footer-logo-icon" loading="lazy"></div>
      <div><img src="assets/logos/scmb.png" alt="Logótipo da Santa Casa da Misericórdia de Baião" class="footer-logo-icon" loading="lazy"></div>
      <div><img src="assets/logos/aeb.png" alt="Logótipo da Associação Empresarial de Baião" class="footer-logo-icon-white" loading="lazy"></div>
    </div>

    <!-- PATROCINADORES -->
    <h3 class="partners-title">Parceiros</h3>
    <div class="partners-logos">
      <div><img src="assets/logos/restaurante-fonte-nova.jpg" alt="Logótipo do Restaurante Fonte Nova" class="footer-logo-icon" loading="lazy"></div>
      <div><img src="assets/logos/Residencial-Borges_Logotipo-Cor-1.png" alt="Logótipo da Residencial Borges" class="footer-logo-icon" loading="lazy"></div>
      <div><img src="assets/logos/restaurante_primavera.jpg" alt="Logótipo do Restaurante Primavera" class="footer-logo-icon-white" loading="lazy"></div>
      <div><img src="assets/logos/lura.png" alt="Logótipo da Lura" class="footer-logo-icon-white" loading="lazy"></div>
      <div><img src="assets/logos/acasa_logo.png" alt="Logótipo d'A Casa" class="footer-logo-icon-white" loading="lazy"></div>
      <div><img src="assets/logos/lareira_logo.png" alt="Logótipo da Lareira" class="footer-logo-icon-white" loading="lazy"></div>
      <div><img src="assets/logos/canastra_doce_logo.jpg" alt="Logótipo da Canastra Doce" class="footer-logo-icon-white" loading="lazy"></div>
      <div><img src="assets/logos/papelaria_sandra_logo.jpg" alt="Logótipo da Papelaria Sandra" class="footer-logo-icon-white" loading="lazy"></div>
      <div><img src="assets/logos/imais_logo.jpg" alt="Logótipo da iMais" class="footer-logo-icon-white" loading="lazy"></div>
      <div><img src="assets/logos/entre_margens.jpg" alt="Logótipo do Entre Margens" class="footer-logo-icon" loading="lazy"></div>
      <div><img src="assets/logos/moninho_vinhos_logo.png" alt="Logótipo da Moninho Vinhos" class="footer-logo-icon-white" loading="lazy"></div>
      <div><img src="assets/logos/casadashortas_logo.png" alt="Logótipo da Casa das Hortas" class="footer-logo-icon-white" loading="lazy"></div>
      <div><img src="assets/logos/pepsi_logo.png" alt="Logótipo da Pepsi" class="footer-logo-icon-white" loading="lazy"></div>
      <div><img src="assets/logos/sagres_logo.jpg" alt="Logótipo da Sagres" class="footer-logo-icon-white" loading="lazy"></div>
      <div><img src="assets/logos/solimenta_logo.png" alt="Logótipo da Solimenta" class="footer-logo-icon-white" loading="lazy"></div>
      <div><img src="assets/logos/william_lawson_logo.png" alt="Logótipo da William Lawson's" class="footer-logo-icon-white" loading="lazy"></div>
      <div><img src="assets/logos/miss_logo.jpg" alt="Logótipo da Miss" class="footer-logo-icon-white" loading="lazy"></div>
      <div><img src="assets/logos/licor_nacional_logo.png" alt="Logótipo do Licor Nacional" class="footer-logo-icon-white" loading="lazy"></div>

    </div>
  </section>

  <div class="footer-bottom">
    <p>© 2026 Tunance. Todos os direitos reservados.</p>
  </div>
</footer>
