
<footer class="footer">
  <div class="footer-logo-top">
    <img src="assets/icon.jpg" alt="Tunance Logo" class="footer-logo-img">
  </div>
    <div class="footer-social">
      <a href="https://www.instagram.com/tunance/" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://facebook.com/tunance" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="mailto:geral.tunance@gmail.com" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  <div class="footer-partners">
    <h3 class="partners-title">Parceiros Oficiais</h3>

    <div class="partners-logos">
      <img src="assets/aldra.png" class="footer-logo-icon-white" alt="Parceiro">
      <img src="assets/Baiao1.png" class="footer-logo-icon-white" alt="Parceiro">
      <img src="assets/ancede-e-ribadouro.jpg" class="footer-logo-icon-white" alt="Parceiro">
      <img src="assets/campelo-ovil.jpg" class="footer-logo-icon-white" alt="Parceiro">
      <img src="assets/smarinhazezere.gif" class="footer-logo-icon-white" alt="Parceiro">
      <img src="assets/bvbaião.png" class="footer-logo-icon-white" alt="Parceiro">
      <img src="assets/scmb.png" class="footer-logo-icon-white" alt="Parceiro">
      <img src="assets/aeb.png" class="footer-logo-icon" alt="Parceiro">
      <img src="assets/Residencial-Borges_Logotipo-Cor-1.png" class="footer-logo-icon-white" alt="Parceiro">
      <img src="assets/restaurante-fonte-nova.jpg" class="footer-logo-icon-white" alt="Parceiro">

    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2026 Tunance. Todos os direitos reservados.</p>
  </div>
</footer>
