<head>
  <meta name="description" content="Tunance Festival – Festival de tunas académicas em Baião com música, tradição e animação. Descobre a programação, história, parceiros e guia de visita.">
</head>
<img src="assets/tunance_capa_on_hold.png" alt="Festival Tunance" class="hero-img" #heroImg>
<section class="hero">
    <div class="event-card">
      <p class="date">Tunance o melhor evento de tunas </p>

      <!--<p class="date">10 e 11 de Abril, 2026</p>-->
      <p class="location">
        Mais do que um festival, o Tunance é um encontro de tradição, música e amizade,
        onde o espírito académico ganha vida no coração de Baião.
      </p>
      <!--
      <p class="location" *ngIf="true">
        <span #typedElement></span>
      </p>
      <div class="countdown">
        <div class="countdown-item">
          <span class="number" id="days">0</span>
          <span class="label">Dias</span>
        </div>
        <div class="countdown-item">
          <span class="number" id="hours">0</span>
          <span class="label">Horas</span>
        </div>
        <div class="countdown-item">
          <span class="number" id="minutes">0</span>
          <span class="label">Min</span>
        </div>
        <div class="countdown-item">
          <span class="number" id="seconds">0</span>
          <span class="label">Seg</span>
        </div>
      </div>-->
      <div class="hero-actions">
        <a href="./programacao" class="btn countdown-btn">
          Ver programação
        </a>

        <a href="./sobre" class="btn-secondary">
          Descobre tudo sobre nós
        </a>
      </div>
    </div>
  <div class="scroll-arrow" (click)="scrollToHomeTunanceDetails()" [class.hidden-arrow]="!isArrowVisible" >
    <i class="fa-solid fa-chevron-down"></i>
  </div>
</section>

<section class="about" id="sobre">
  <h2 class="hidden">O Tunance</h2>
  <!--<p class="hidden">O Tunance não é só um festival é a celebração da música académica, da tradição e da alegria contagiante das tunas portuguesas! </p>
  <p class="hidden">Durante um fim de semana épico, as ruas de Baião transformam-se num palco gigante. Concertos, serenatas improvisadas, convívio até de madrugada e aquela energia que só quem vive a vida académica conhece. É música a cada esquina, festa em cada nota, e memórias que duram para sempre.</p>
  <p class="hidden"><strong>Vem sentir o Tunance. Vem viver a magia das tunas!</strong></p>-->

  <p class="hidden">Festival de Tunas de Baião é o encontro onde a tradição académica se cruza com a alma do Douro e a hospitalidade de Baião. Todos os anos, o Mosteiro de Santo André de Ancede transforma‑se num palco vibrante, onde tunas de todo o país celebram a música, a amizade e o espírito estudantil que une gerações. </p>
  <p class="hidden"> Entre serenatas ao luar, atuações cheias de energia e momentos que ficam na memória, o Tunance afirma‑se como um dos eventos culturais mais marcantes da região. Aqui, a música ecoa pelas margens do Douro, a festa ganha vida e Baião recebe de braços abertos todos os que chegam para viver esta experiência única. </p>
  <p class="hidden"><strong> Bem‑vindo ao Tunance, onde a tradição canta mais alto.</strong></p>
</section>

<section class="gallery ">
  <h2>Momentos Tunance</h2>
  <div class="photo-grid hidden" id="photoGrid" >
      <img
        *ngFor="let img of shuffledImages; let i = index"
        [src]="img"
        [alt]="'Momento Tunance ' + (i)"
        loading="lazy"
        (click)="openModal($event, i)"
        [attr.data-group]="getImageGroup(i)"
        [class.hidden]="!isInitiallyVisible(i)"
        [class.show]="isInitiallyVisible(i)">



    <!-- Fotos visíveis inicialmente (6-8 fotos)
    <img src="assets/momento_tunance/momento_tunance_5.jpg" alt="Tunance" (click)="openModal($event)">
    <img src="assets/momento_tunance/momento_tunance_6.jpg" alt="Tunance" (click)="openModal($event)">
    <img src="assets/momento_tunance/momento_tunance_7.jpg" alt="Tunance" (click)="openModal($event)">
    <img src="assets/momento_tunance/momento_tunance_8.jpg" alt="Tunance" (click)="openModal($event)">


    Grupo 1 - Escondidas (próximas 6)
    <img class="hidden" data-group="1" src="assets/momento_tunance/momento_tunance_7.jpg" alt="Tunance" (click)="openModal($event)">
    <img class="hidden" data-group="1" src="assets/momento_tunance/momento_tunance_8.jpg" alt="Tunance" (click)="openModal($event)">
    <img class="hidden" data-group="1" src="assets/momento_tunance/momento_tunance_9.jpg" alt="Tunance" (click)="openModal($event)">
    <img class="hidden" data-group="1" src="assets/momento_tunance/momento_tunance_1.jpg" alt="Tunance" (click)="openModal($event)">
    <img class="hidden" data-group="2" src="assets/momento_tunance/momento_tunance_2.jpg" alt="Tunance" (click)="openModal($event)">
    <img class="hidden" data-group="2" src="assets/momento_tunance/momento_tunance_3.jpg" alt="Tunance" (click)="openModal($event)">
    <img class="hidden" data-group="2" src="assets/momento_tunance/momento_tunance_2.jpg" alt="Tunance" (click)="openModal($event)">
    <img class="hidden" data-group="2" src="assets/momento_tunance/momento_tunance_2.jpg" alt="Tunance" (click)="openModal($event)">

     Grupo 2 - Escondidas (próximas 6)
    <img class="hidden" data-group="3" src="assets/momento_tunance/momento_tunance_4.jpg" alt="Tunance" (click)="openModal($event)">
    <img class="hidden" data-group="3" src="assets/momento_tunance/momento_tunance_5.jpg" alt="Tunance" (click)="openModal($event)">
    <img class="hidden" data-group="3" src="assets/momento_tunance/momento_tunance_6.jpg" alt="Tunance" (click)="openModal($event)">
    <img class="hidden" data-group="3" src="assets/momento_tunance/momento_tunance_7.jpg" alt="Tunance" (click)="openModal($event)">
    <img class="hidden" data-group="4" src="assets/momento_tunance/momento_tunance_8.jpg" alt="Tunance" (click)="openModal($event)">
    <img class="hidden" data-group="4" src="assets/momento_tunance/momento_tunance_9.jpg" alt="Tunance" (click)="openModal($event)">
    <img class="hidden" data-group="4" src="assets/momento_tunance/momento_tunance_9.jpg" alt="Tunance" (click)="openModal($event)">
    <img class="hidden" data-group="4" src="assets/momento_tunance/momento_tunance_9.jpg" alt="Tunance" (click)="openModal($event)">

     Adicione mais grupos conforme necessário -->
  </div>

  <!-- Botões de controle -->
  <div class="gallery-controls">
    <button class="show-more-btn" id="showMoreBtn" (click)="showMorePhotos()">
      <span style="margin-right: 2px; ">Ver Mais Fotos</span>
      <span class="fa fa-plus" ></span>
    </button>

    <button class="collapse-btn hidden " id="collapseBtn" (click)="collapsePhotos()">
      <span style="margin-right: 2px; ">Recolher </span>
      <span class="fa fa-arrow-up"></span>
    </button>
  </div>
  <div class="modal" *ngIf="isModalOpen" (click)="closeModal()">

  <span class="close" (click)="closeModal()">
    <i class="fa-solid fa-xmark"></i>
  </span>

    <div class="modal-box" (click)="$event.stopPropagation()">

      <button class="modal-arrow left"
              [class.disabled]="modalCurrentIndex === 0"
              (click)="prevModalImage()">
        <span class="fa fa-chevron-left"></span>
      </button>

      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let img of shuffledImages">
            <img class="modal-content" [src]="img" />
          </div>
        </div>
      </div>

      <button class="modal-arrow right"
              [class.disabled]="modalCurrentIndex === shuffledImages.length - 1"
              (click)="nextModalImage()">
        <span class="fa fa-chevron-right"></span>
      </button>

    </div>

    <div class="modal-counter">Momento Tunance {{ modalCurrentIndex + 1 }} / {{ shuffledImages.length }}</div>

  </div>
</section>

<section class="info-cards " id="info">
  <h2>Explora o Tunance</h2>
  <div class="cards-grid hidden" appScrollReveal>

    <a class="card" (click)="goToAbout()" >
      <div class="card-icon">🎵</div>
      <h3>Sobre o Festival</h3>
      <p>Descobre a história do Tunance</p>
      <span class="card-arrow">→</span>
    </a>

    <a class="card" (click)="goToProgramacao()">
    <div class="card-icon">🗓️</div>
      <h3>Programação</h3>
      <p>Vê todas as tunas, atuações e horários</p>
      <span class="card-arrow">→</span>
    </a>

    <a class="card" (click)="goToGuia()">
      <div class="card-icon">🗺️</div>
      <h3>Guia Turístico</h3>
      <p>Explora Baião e descobre onde comer e ficar</p>
      <span class="card-arrow">→</span>
    </a>

    <!--<a routerLink="/galeria" class="card">
      <div class="card-icon">📸</div>
      <h3>Galeria</h3>
      <p>Revive os melhores momentos</p>
      <span class="card-arrow">→</span>
    </a>

    <a routerLink="/contact" class="card">
      <div class="card-icon">✉️</div>
      <h3>Contacto</h3>
      <p>Fala connosco ou faz parcerias</p>
      <span class="card-arrow">→</span>
    </a>-->

  </div>
</section>



<section class="cta">
  <h2>Queres participar ou fazer parceria?</h2>
  <p>Entra em contacto connosco!</p>
  <a href="./contactar" class="btn">Contactar</a>
</section>
